footer {
    position: absolute;
    top: 1605px;
    color: #fff;
    width: 100%;
    height: 90px;
    div {
        width: 150px;
        margin: 0 auto;
        p {
            width: 100%;
            text-align: center;
        }
    }
}
