
body {
    font: {
        color: #fff;
    }
    background: {
        image: url("./assets/img/bg.jpg");
        size: 100%;
        // repeat:no-repeat;
    }
}

a {
    /* 去掉下划线 */
    text-decoration: none;
    color: #fff;
    &:hover {
        color: #61dafb;
        cursor: pointer;
    }
}

.section-body {
    position: absolute;
    top: 200px;
    color: #000;
    width: 100%;
    height: 1000px;
    background: #F0F2F5;
    &-layout {
        width: 1260px;
        height: 1000px;
        margin: 0 auto;
        &-left {
            float: left;
            width: 55%;
        }
        &-right {
            float: right;
            width: 35%;
        }
    }
}
